* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 4rem;
  color: #555B6E;
}

h2 {
  margin: 0;
  text-decoration: underline;
}

header {
  //background-color: #BEE3DB;
  padding: 15px;
  background: linear-gradient(223deg, #89b0ae, #bee3db, #faf9f9);
  background-size: 600% 600%;

  animation: ScrollThrough 10s ease infinite;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

@keyframes ScrollThrough {
  0%{background-position:34% 0%}
  50%{background-position:67% 100%}
  100%{background-position:34% 0%}
}

button {
  background-color: inherit;
  border: none;
  font-size: 2.5rem;
  padding: 0.5rem;
  margin: 1.5rem;

  &:hover {
    cursor: default;
  }
}

i {
  color: #FAF9F9;
  cursor: pointer;
}

.App {
  text-align: center;
  font-size: 2.2rem;
  color: #FAF9F9;
  background-color: #333E4B;
}

.rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    li {
      margin: 5px 0;
    }
  }
}

.main {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;

  .sim-container{
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .presets {
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
      list-style: none;
      text-decoration: underline;
      margin: 0;
      padding: 0;

      li {
        cursor: pointer;
        margin: 10px 0;

        &:hover .hidden {
          visibility: visible;
        }

        .hidden {
          font-size: 1.8rem;
          margin-left: 5px;
          visibility: hidden;
        }
      }
    }
  }
}

.active {
  border-radius: 0.5rem;
  text-decoration: overline;
  text-decoration-color: #FAF9F9;
}

.disabled {
  color: #333E4B;
  cursor: default;
}

.bold {
  font-weight: bold;
  color:#FAF9F9;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px auto;
  background-color: #FAF9F9;
}

.alive {
  background-color: black;
}

.cell {
  border: 1px solid grey;
  width: 20px;
  height: 20px;
}
